<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bamboo</title>
    <link rel="stylesheet" href="assets/styles/main.scss">
  </head>
  <body>
    <div id="app">
      <!-- API key requirement page -->
      <div v-if="!apiKey" class="require-api-key">
        <div>
          <i data-feather="alert-circle"></i>
          <p>In order to use this app, you must have a valid Tinify API key.</p>
          <p>Enter your API key below:</p>
          <input v-model.trim="apiInputValue" type="text">
          <p><small><a href="#" @click="showApiPage()">Click here</a> to get an API key.</small></p>
          <button v-if="apiInputValue" @click="changeApiKey(apiInputValue)">Done</button>
        </div>
      </div>

      <!-- Drop file text -->
      <div v-if="!imageList.length" class="drag-drop">
        <p>
          <i data-feather="droplet"></i> <span>Drop a PNG or JPG here!</span>
        </p>
      </div>
  
      <!-- Image list -->
      <div v-if="imageList.length" class="image-list">
        <ul>
          <li v-for="image in imageList">
            <i v-if="image.status === 'done'" data-feather="check-circle"></i>
            <i v-if="image.status === 'loading'" data-feather="loader"></i>
            <i v-if="image.status === 'error'" data-feather="x-circle"></i>
            <span>{{ image.fileName }}</span>
          </li>
        </ul>
      </div>

      <!-- Toolbar -->
      <div class="toolbar">
        <a href="#" @click="loadImages()"><i data-feather="plus-circle"></i> <span>Add Images</span></a>
        <a href="#" @click="viewingSettings = true"><i data-feather="settings"></i> <span>Settings</span></a>
        <a href="#" @click="showAbout()"><i data-feather="help-circle"></i> <span>About</span></a>
      </div>

      <!-- Settings component -->
      <settings v-on:close="viewingSettings = false" v-if="viewingSettings"></settings>      
    </div>
    <script src="assets/scripts/main.js"></script>
  </body>
</html>
