@import './font';

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Hind Guntur';
  text-align: center;
}

body {
  background: linear-gradient(to bottom, #e4ffe0, white);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

a {
  color: rgb(17, 183, 109);
  text-decoration: none;

  &:hover {
    color: #01AEE7;
    text-decoration: underline;
  }
}

.logo {
  width: 100%;
  max-width: 250px;
}

h1 {
  font-family: 'Bungee';
  font-size: 3em;
  margin-top: 0;

  i {
    text-transform: uppercase;
    font-style: normal;
  }
}

.light-blue {
  color: #01AEE7;
}

.light-green {
  color: #11B76E;
}

.screenshot {
  width: 100%;
  max-width: 712px;
}

.columns {
  display: flex;
  color: #838F9C;

  div {
    position: relative;
    text-align: left;
    width: 712px;
    max-width: 712px;
    padding: 1em;
    padding-left: 200px;
    font-size: 1.2em;

    h2 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 1.75em;
    }

    .github {
      font-size: 0.75em;
    }
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: 'Bungee';
  font-size: inherit;
  border: none;
  border-radius: 4px;
  background-color: #11B76E;
  color: white;
  padding: 0.5em 0.6em;
  cursor: pointer;

  svg {
    margin-right: 0.5em;
  }

  span {
    display: inline-block;
    transform: translateY(-3px);
  }

  &:hover {
    color: white;
    background-color: #01AEE7;
    text-decoration: none;
  }
}

.creds {
  color: #838F9C;
  font-size: 0.75em;
  position: absolute;
  bottom: 3em;
  left: 200px;
}
