.settings {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  
  background: linear-gradient(to bottom, #c5f7ff, white);
  background: linear-gradient(to bottom, #c5f7ff, #d4f9ff);
  background-size: 100%;
  background-repeat: no-repeat;

  padding: 1em;
  animation: slide-in 0.4s cubic-bezier(0.23, 1, 0.32, 1);

  input[type=text] {
    width: 100%;
    font-family: monospace;
    font-size: 1.4em;
    text-align: center;
  }

  .toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
